<h1>Posts</h1>

<% if notice %>
    <%= notice %>
<% end %>

<% @posts.each do |post|%>
    <div>
        <h3><%= post.title %></h3>
        <p><%= post.created_at.strftime("%F") %> / <%= time_ago_in_words(post.created_at) %></p>
        <p>
            <%= image_tag( post.image_url ) %>
        </p>
        <p><%= post.content %></p>
    </div> 
<% end %>    


